* {
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url("./image/Camelot\ Buck\ .JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width:375px) {
    .bg {
        height: 50vh;
    }
}

@keyframes img-wrap-before {
    100% {
      transform: translateY(100%);
    }
  }

  @keyframes img-wrap-after {
    100% {
      transform: translateY(-100%);
    }
  }

      .bg:before,
      .bg:after {
        animation: 4s  cubic-bezier(.4, 0, .2, 1) forwards ;
        background: #fff;
        bottom: 0;
        content: '';
        pointer-events: none;
        position: absolute;
        top: 0;
        z-index: 1;
      }

      .bg:before {
        animation-name: img-wrap-before;
        left: 0;
        right: 50%;
      }

      .bg:after {
        animation-name: img-wrap-after;
        left: 50%;
        right: 0;
      }

      header {
        padding: 40px 40px;
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width:375px) {
        header {
            padding: 10px;
        }
    }

.header-left {
    animation: anime1 10s ease ;
}

.logo {
    height: 50px;
}

@media screen and (max-width:375px) {
    .logo{
        height: 30px;
        padding-top: 10px;
        padding-left: 10px;
    }
}

@keyframes anime1 {
    0% {
        opacity: 0;
        top: 50px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.nav {
    display: flex;
}

.nav>li>a {
    color: white;
    font-size: 30px;
    margin-left: 90px;
    text-decoration: none;
    font-family: 'DIN Condensed', sans-serif;
}

@media screen and (max-width:375px) {
    .nav {
        display: none;
    }
}

#profile{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

@media screen and (max-width:375px) {
    #profile {
        display: block;
        margin-top: 50px;
        margin-left: 0px;
    }
}

.name-logo{
    width: 280px;
    padding-top: 20px;
}

@media screen and (max-width:375px) {
    .name-logo {
        width: 200px;
        padding-top: 20px;
        padding-left: 10px;
    }
}

.profile{
    font-family: 'DIN Condensed', sans-serif;
    font-size: 40px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    padding-left: 100px;
}

@media screen and (max-width:375px) {
    .profile {
        padding-left: 10px;
    }
}

.nine{
    font-family: 'DIN Condensed', sans-serif;
    padding-top: 80px;
    margin-right: 80px;
    font-family: 'DIN Condensed', sans-serif;
    font-size: 20px;
}

@media screen and (max-width:375px) {
    .nine {
        padding-left: 10px;
        padding-top: 10px;
        margin-right: 10px;
    }
}

.profile-image{
    width: 400px;
    margin-right: 130px;
  }

  @media screen and (max-width:375px) {
    .profile-image {
        width: 100%;
    }
}

     #event {
        font-family: 'DIN Condensed', sans-serif;
        margin-top: 100px;
        font-size: 20px;
        height: 50vh;
        background-image: url(./image/IMG_3906.JPG);
        background-color: rgba(255, 255, 255, 0.8);
        background-blend-mode: lighten;
        /* 垂直方向中央、水平方向中央に位置指定 */
        background-position: center center;
        /* 画像をタイル状に繰り返し表示しない */
        background-repeat: no-repeat;
        /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
        background-attachment: fixed;
        /* 表示する横幅の大きさに基づいて、背景画像を調整 */
        background-size: cover;
    }

    @media screen and (max-width:375px) {
        #event {
            height: 100vh;
            background-attachment: fixed;
    }
}


.flyer{
    width: 300px;
    padding-left: 100px;
    padding-bottom: 20px;
}

@media screen and (max-width:375px) {
    .flyer {
        width:200px;
        padding-left: 0px;
        padding-top: 50px;
    }
}

  .event-contents{
      padding-left: 20px;
      padding-top: 20px;
  }

  .list{
      display: flex;
      padding-top: 30px;
      padding-left: 90px;
    }

    @media screen and (max-width:375px) {
        .list {
            display: block;
        }
    }

    .APRIL{
        padding-left: 390px;
    }

    @media screen and (max-width:375px) {
        .APRIL {
            padding-left: 0px;
            padding-top: 50px;
        }
    }

    .kaisai-april{
        padding-top: 140px;
        font-size: 30px;
    }

#news{
    display: flex;
}

@media screen and (max-width:375px) {
    #news {
        display: block;
}}

.new-contents{
    padding-top: 20px;
    padding-left:20px;
    font-family: 'DIN Condensed', sans-serif;
    font-size: 40px;
}
.corona{
    padding-top: 200px;
}

@media screen and (max-width:375px) {
    .corona {
        display: block;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.bg-news{
   height: 50vh;
    background-repeat: no-repeat;
    background-image: url(./image/Camelot\ 2.JPG);
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
}

@media screen and (max-width:375px) {
    .bg-news {
        height: 100vh;
        background-attachment: fixed;
}}

.gap{
    padding-top: 50px;
}

.bg-co{
    height: 50vh;
    background-repeat: no-repeat;
    background-image: url(./image/Ai\ Terada\ 2020\ Side\ .JPG);
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
}

@media screen and (max-width:375px) {
    .bg-co {
        height: 100vh;
        background-attachment: fixed;
}
}

.co-co{
    padding-top: 20px;
    padding-left:20px;
    font-family: 'DIN Condensed', sans-serif;
    font-size: 40px;
}

.co-gap{
    padding-top: 50px;
}

.sns-co{
    padding: 100px;
    font-family: 'DIN Condensed', sans-serif;
    font-size: 30px;
}

.twi{
    height: 40px;
}

.insta{
    height: 40px;
}

.mail{
    height: 25px;
    padding-top: 10px;
    padding-left: 2px;
}

.footer-gap{
    padding-top: 50px;
}

.bg-footer{
background-color: black;
}

.footer-logo{
    height:40px;
    padding-left: 45%;
}
